<svg style="width:0; height:0; position:absolute;" aria-hidden="true" focusable="false">
  <filter id="liquido-fluyendo">
    <feTurbulence type="fractalNoise" baseFrequency="0.005" numOctaves="3" result="noise" />
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="120" xChannelSelector="R" yChannelSelector="G" />
  </filter>
</svg>

<app-header/>

<div class="layoutPrincipal">
    <aside class="lateral">
        <div class="barraBusqueda">
            <div class="buscador">
                <div class="icono" (click)="txtBuscar.focus()">
                    <span class="material-symbols-outlined">search</span>
                </div>
                <div class="busqueda">
                    <input
                        #txtBuscar
                        type="text"
                        placeholder="Buscar..."
                        [(ngModel)]="searchValue"
                        (ngModelChange)="onSearch($event)"
                        aria-label="Buscar película o serie"
                        class="input-form txRegular txBold gaeguPr"
                        maxlength="30"
                    />
                </div>
                @if (searchValue) {
                    <div class="icono-clear" (click)="limpiarBusqueda(); $event.stopPropagation()">
                        <span class="material-symbols-outlined">close</span>
                    </div>
                }
            </div>

            <span class="contadorLateral txSmall txBold kosugiMPr">
                ({{ filteredMovies().length }} resultados)
            </span>
        </div>

        <app-menu-filters (filtersApplied)="onFiltersApplied($event)" />
    </aside>
    <main class="contenido">
        <div class="fondo-liquido"></div>
        <div class="zonaScroll">

            @if (pagedMovies().length > 0) {
                <div class="gridCards">
                    @for (movie of pagedMovies(); track trackByNombre($index, movie)) {
                        <app-series-peliculas-cards [movie]="movie" />
                    }
                </div>
            } @else {
                <div class="sinResultados txMedium txRegular gaeguPr">
                    <span class="material-symbols-outlined">movie_filter</span>
                    <p>No se encontraron resultados.</p>
                </div>
            }

            <app-paginations
                [currentPage]="currentPage()"
                [totalPages]="totalPages()"
                (pageChange)="onPageChange($event)"
            />
        </div>
    </main>
</div>