<svg style="width:0; height:0; position:absolute;" aria-hidden="true" focusable="false">
  <filter id="liquido-fluyendo">
    <feTurbulence type="fractalNoise" baseFrequency="0.005" numOctaves="3" result="noise" />
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="120" xChannelSelector="R" yChannelSelector="G" />
  </filter>
</svg>

<app-header (searchChange)="onSearch($event)" />

<div class="layoutPrincipal">
    <aside class="lateral">
        <app-menu-filters (filtersApplied)="onFiltersApplied($event)" />
    </aside>
    <main class="contenido">
        <div class="fondo-liquido"></div>
        <div class="zonaScroll">

            <div class="infoResultados txMedium txBold kosugiMPr">
                <p>{{ filteredMovies().length }} titulo(s) encontrado(s)</p>
            </div>

            @if (pagedMovies().length > 0) {
                <div class="gridCards">
                    @for (movie of pagedMovies(); track trackByNombre($index, movie)) {
                        <app-series-peliculas-cards [movie]="movie" />
                    }
                </div>
            } @else {
                <div class="sinResultados txMedium txRegular gaeguPr">
                    <span class="material-symbols-outlined">movie_filter</span>
                    <p>No se encontraron resultados.</p>
                </div>
            }

            <app-paginations
                [currentPage]="currentPage()"
                [totalPages]="totalPages()"
                (pageChange)="onPageChange($event)"
            />
        </div>
    </main>
</div>