<div class="contenedor">
    <div class="cabecera">
        <div class="nombre"><p>Nombre pred</p></div>
        <div class="decoracion">
            <div class="icono"></div>
            <div class="icono"></div>
            <div class="icono eliminar"></div>
        </div>
    </div>
    <div class="cuerpo">
        <div class="datos">
            <div class="contenedorDatos">
                <div class="titulo"><p>Genero:</p></div>
                <div class="texto"><p>aventura</p></div>
            </div>
            <div class="contenedorDatos">
                <div class="titulo"><p>Fecha:</p></div>
                <div class="texto"><p>19 / 04 / 2024</p></div>
            </div>
            <div class="contenedorDatos">
                <div class="titulo"><p>Estado:</p></div>
                <div class="texto"><p>en proceso</p></div>
            </div>
            <div class="contenedorDatos">
                <div class="titulo"><p>Visto:</p></div>
                <div class="texto"><p>cap 80 de cap 1056</p></div>
            </div>
        </div>
        <div class="clasificacion">
            <div class="contenedorClasificacion">
                <p>Serie / normal</p>
            </div>
        </div>
    </div>
    <div class="pie">
        <div class="contenedorBoton">
            <button class="botonPulsar">Actualizar</button>
        </div>
    </div>
</div>