<div class="margen">
    <div class="contenedorDecoracionArriba"></div>
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre"><p>Crear Peliculas y Series</p></div>
            <div class="decoracion">
                <div class="icono"></div>
                <div class="icono"></div>
                <div class="icono eliminar"></div>
            </div>
        </div>
        <div class="cuerpo">
            <div class="nombre"><p>Nombre</p></div>
            <div class="contenedorDatos">sdad</div>
            <div class="nombre"><p>Tipo</p></div>
            <div class="tipo">
                <div class="contenedorTiposEstados">
                    <p>Normal</p>
                </div>
                <div class="contenedorTiposEstados">
                    <p>Anime</p>
                </div>
                <div class="contenedorTiposEstados">
                    <p>Pelicula</p>
                </div>
                <div class="contenedorTiposEstados">
                    <p>Serie</p>
                </div>  
            </div>
            <div class="nombre"><p>Máximo</p></div>
            <div class="contenedorDatos">sdad</div>
            <div class="nombre"><p>Actual</p></div>
            <div class="contenedorDatos">sdad</div>
            <div class="horizontal">
                <div class="titulo"><p>Genero</p></div>
                <div class="contenedorDatos"></div>
            </div>
        </div>
        
        <div class="pie">
            <div class="decoracionPie">
                <div class="superior">
                    <div class="barra">
                        <div class="cantidad"></div>
                    </div>
                </div>
                <div class="inferior">
                    <div class="icono"></div>
                    <div class="icono"></div>
                    <div class="icono"></div>
                    <div class="icono"></div>
                </div>
            </div>
            <div class="contenedorBoton contenedorBotonDelgado">
                <button class="botonPulsar">Crear</button>
            </div>
        </div>
    </div>
</div>