<div class="contenedor">
    <div class="cabecera" [ngClass]="data.success ? 'cabeceraExito' : 'cabeceraError'">
        <div class="nombre txLarge txBold kosugiMPr">
            <p>{{ data.success ? 'Exito' : 'Error' }}</p>
        </div>
        <div class="decoracion">
            <span class="material-symbols-outlined icono">remove</span>
            <span class="material-symbols-outlined icono">select_window</span>
            <span class="material-symbols-outlined icono" (click)="cerrar()">close</span>
        </div>
    </div>
    <div class="cuerpo">
        <span class="material-symbols-outlined icono respuesta" [ngClass]="data.success ? 'respuestaExito' : 'respuestaError'">
            {{ data.success ? 'check_circle' : 'error' }}
        </span>
        <div class="campoTexto txBase txRegular gaeguPr"><p>{{ data.message }}</p></div>
    </div>
</div>