.contenedor {
    height: auto;
    width: 100%;
    border: solid 2px var(--marron);
    box-shadow: 0.4rem 0.4rem 0 var(--marron);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin-left: -32px;
}

.cabecera {
    height: 40px;
    width: 100%;
    border-bottom: solid 2px var(--marron);
    display: flex;
    flex-direction: row;
}

.cabeceraError {
    background-color: var(--rojo);
}

.cabeceraExito {
    background-color: var(--verde);
}

.nombre {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    color: var(--marron);
    padding-left: 20px;
}

.decoracion {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icono {
    height: 30px;
    aspect-ratio: 1/1;
    color: var(--marron);
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.2s;
}

.contenedorDatos {
    height: 25px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    color: var(--marron);
    background-color: var(--blanco);
    border: solid 2px var(--marron);
    border-radius: 8px;
    padding: 5px 10px;
    margin: 20px;
}

.cuerpo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    padding: 20px;
}

.respuesta {
    margin-top: 20px;
    font-size: 80px;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 40px;
}

.respuestaError {
    color: var(--rojo);
}

.respuestaExito {
    color: var(--verde);
}

.campoTexto {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--marron);
    padding-left: 20px;
}

@media (max-width: 1024px) {
    .contenedor {
        width: 90%;
        margin: 10px;
        margin-left: 3%;
    }

    .cabecera {
        height: 38px;
    }

    .respuesta {
        font-size: 65px;
        margin-bottom: 30px;
    }

    .cuerpo {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .contenedor {
        width: 90%;
        margin: 5px 0;
        margin-left: 5%;
        box-shadow: 0.2rem 0.2rem 0 var(--marron);
    }

    .cabecera {
        height: 36px;
    }

    .nombre {
        padding-left: 15px;
    }

    .cuerpo {
        padding: 10px 15px;
    }

    .respuesta {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .campoTexto {
        padding-left: 0;
        justify-content: start;
        text-align: center;
    }
}