<div class="contenedor">
    <div class="cabecera">
        <div class="nombre">
            <p>{{ data.success ? 'Éxito' : 'Error' }}</p>
        </div>
        <div class="decoracion">
            <span class="material-symbols-outlined icono">remove</span>
            <span class="material-symbols-outlined icono">select_window</span>
            <span class="material-symbols-outlined icono" (click)="cerrar()">close</span>
        </div>
    </div>
    <div class="cuerpo">
        <span class="material-symbols-outlined icono respuesta" [class.success]="data.success">
            {{ data.success ? 'check_circle' : 'error' }}
        </span>
        <div class="nombre"><p>{{ data.message }}</p></div>
    </div>
</div>