@if (totalPages() > 1) {
    <div class="paginacion">
        <button
            class="botonPaginacion txRegular txBold latoPr"
            [disabled]="currentPage() === 1"
            appClickEffectSimple
            (click)="goTo(currentPage() - 1)">
            ‹ <span class="texto-boton">anterior</span>
        </button>

        @for (page of visiblePages; track $index) {
            @if (isNumber(page)) {
                <button
                    class="botonPaginacion txRegular txBold gaeguPr"
                    [class.activo]="page === currentPage()"
                    appClickEffectSimple
                    (click)="goTo(page)">
                    {{ page }}
                </button>
            } @else {
                <span class="botonPaginacion puntosSuspensivos txRegular txBold gaeguPr">···</span>
            }
        }

        <button
            class="botonPaginacion txRegular txBold latoPr"
            [disabled]="currentPage() === totalPages()"
            appClickEffectSimple
            (click)="goTo(currentPage() + 1)">
            <span class="texto-boton">siguiente</span> ›
        </button>
    </div>
}