<div class="contenedor">
    <div class="cabecera">
        <div class="nombre"><p>Filtros</p></div>
        <div class="decoracion">
            <div class="icono"></div>
        </div>
    </div>
    <div class="cuerpo">
        <div class="horizontal">
            <div class="titulo"><p>Ordenar</p></div>
            <div class="contenedorDatos"></div>
        </div>
        <div class="horizontal">
            <div class="titulo"><p>Genero</p></div>
            <div class="contenedorDatos"></div>
        </div>
        <div class="nombre"><p>Tipo</p></div>
        <div class="tipo">
            <div class="contenedorTiposEstados">
                <p>Normal</p>
            </div>
            <div class="contenedorTiposEstados">
                <p>Anime</p>
            </div>
            <div class="contenedorTiposEstados">
                <p>Pelicula</p>
            </div>
            <div class="contenedorTiposEstados">
                <p>Serie</p>
            </div>  
        </div>
        <div class="nombre"><p>Estado</p></div>
        <div class="tipo estado">
            <div class="contenedorTiposEstados">
                <p>No visto</p>
            </div>
            <div class="contenedorTiposEstados">
                <p>En proceso</p>
            </div>
            <div class="contenedorTiposEstados">
                <p>Visto</p>
            </div>
        </div>
        <div class="contenedorBoton">
            <button class="botonPulsar">Buscar</button>
        </div>
    </div>
</div>