<!-- <main class="modales">
  <app-show-genders/>
</main> -->

<!-- <main class="modales">
  <app-create-update-films/>
</main> -->

<!-- <main class="modales">
  <app-create-update-genders/>
</main> -->

<!-- <main class="modales">
  <app-delete-films-genders/>
</main> -->

<!-- <main class="modales">
  <app-error-success/>
</main> -->

<!-- <main class="modales">
  <app-login/>
</main> -->

<!-- <app-menu-filters></app-menu-filters> -->
 <app-movies></app-movies>
<!-- <main class="cabecera">
  <app-header/>
</main>
<main class="cuerpo">
  <div class="menu">
    <app-menu/>
  </div>
  <div class="contenedorCards">
    <app-cards/>
    <app-cards/>
    <app-cards/>
    <app-cards/>
    <app-cards/>
  </div>
</main> -->