<div class="margen">
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre letraGrande"><p>{{ titulo }}</p></div>
            <div class="decoracion">
                <span class="material-symbols-outlined icono">remove</span>
                <span class="material-symbols-outlined icono">select_window</span>
                <span class="material-symbols-outlined icono eliminar" (click)="cerrar()">close</span>
            </div>
        </div>
        <div class="pie">
            <div class="nombre letraGrande"><p>Nombre</p></div>
            <div class="contenedorDatos">
                <input
                    type="text"
                    placeholder="Escribe el nombre..."
                    [(ngModel)]="nombre"
                    (keydown.enter)="guardar()"
                    maxlength="50"
                    class="input-form letraPequeña"
                />
            </div>
            <div class="contenedorBoton">
                <button
                    class="botonPulsar"
                    (click)="guardar()"
                    [disabled]="loading() || !nombre.trim()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
    <div class="contenedorDecoracion">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <defs>
                <linearGradient id="gradienteCorazon" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" stop-color="var(--rosa)" />
                    <stop offset="100%" stop-color="var(--morado)" />
                </linearGradient>
            </defs>
            
            <path d="M 50 25
                    C 40 10, 25 5, 15 15
                    C 5 30, 10 55, 48 76
                    Q 55 73, 50 76
                    C 90 55, 95 30, 85 15
                    C 75 5, 60 10, 50 25 Z"
                fill="url(#gradienteCorazon)"
                stroke="var(--marron)"
                stroke-width="3"
                stroke-linejoin="round" />
        </svg>
    </div>
</div>