<div class="margen">
    <div class="contenedorDecoracion"></div>
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre"><p>Generos</p></div>
            <div class="decoracion">
                <div class="icono"></div>
                <div class="icono"></div>
                <div class="icono eliminar"></div>
            </div>
        </div>
        <div class="cuerpo">
            <div class="generos">
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
                <div class="contenedorGeneros">
                    <p>Genero 1</p>
                </div>
            </div>
        </div>
        <div class="pie">
            <div class="contenedorBoton">
                <button class="botonPulsar">Eliminar</button>
            </div>
            <div class="contenedorBoton contenedorBotonAncho">
                <button class="botonPulsar">Actualizar</button>
            </div>
            <div class="contenedorBoton contenedorBotonDelgado">
                <button class="botonPulsar">Crear</button>
            </div>
        </div>
    </div>
</div>