.contenedor {
    height: auto;
    width: 400px;
    margin: 20px;
    border: solid 2px var(--marron);
    border-radius: 10px;
    overflow: hidden;
    z-index: 200;
}

.cabecera {
    height: 40px;
    width: 100%;
    border-bottom: solid 1px var(--marron);
    background-color: var(--morado);
    display: flex;
    flex-direction: row;
}

.nombre {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--marron);
    padding-left: 20px;
}

.decoracion {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icono {
    height: 30px;
    aspect-ratio: 1/1;
    background-color: var(--marron);
    border-radius: 10px;
    margin-right: 5px;
}

.eliminar:hover {
    transition: all ease-in-out 0.3s;
    background-color: var(--rojo);
}

.cuerpo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.generos {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--blanco);
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    overflow-y: scroll;
}

/* Esta incompleto falla un poco */

.generos::-webkit-scrollbar {
    width: 10px;
}

.generos::-webkit-scrollbar-track {
    background: var(--blanco);
    border-left: solid 2px var(--marron);
    z-index: 20;
}

.generos::-webkit-scrollbar-thumb {
    background-color: var(--morado);
    border-radius: 20px;
    z-index: 10;
}

.contenedorGeneros {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 700;
    color: var(--marron);
    background-color: var(--blanco);
    border: solid 2px var(--marron);
    border-radius: 8px;
    padding: 5px 10px;
}

.pie {
    height: auto;
    width: 100%;
    border-top: solid 1px var(--marron);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--amarillo);
}

.contenedorBoton {
    height: 50px;
    width: 80px;
    border: solid 3px var(--marron);
    background-color: var(--gris);
    border-radius: 8px;
    margin: 10px;
}

.contenedorBotonAncho {
    width: 100px;
}

.contenedorBotonDelgado {
    width: 60px;
}

.botonPulsar {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    border: solid 0.5px var(--marron);
    background-color: var(--blanco);
    color: var(--marron);
    border-radius: 5px;
    transform: translateY(-10px);
    transition: all ease-in-out 0.14s;
    font-weight: 700;
}

.botonPulsar:active {
    transform: translateY(0px);
}

.contenedorDecoracion {
    display: flex;
    position: absolute;
    align-items: center;
    justify-self: start;
    width: 120px;
    height: 80px;
    background-color: var(--azul);
    border-radius: 10px;
    right: -10px;
    top: -100px;
    margin-right: 30px;
    animation: reboteX 1s ease-in-out infinite alternate;
    z-index: 0;
}

/*Mejorar la animacion para que sea más fluida */
@keyframes reboteX {
    0% { transform: translateY(0px); }
    25% { transform: translateY(4px); animation-timing-function: ease-in-out; }
    75% { transform: translateY(17px); animation-timing-function: ease-in-out; }
    100% { transform: translateY(30px); }
}

.margen {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}