<div class="margen">
    <div class="contenedorDecoracionArriba"></div>
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre letraGrande"><p>Acceder a la web</p></div>
            <div class="decoracion">
                <span class="material-symbols-outlined icono">remove</span>
                <span class="material-symbols-outlined icono">select_window</span>
                <span class="material-symbols-outlined icono eliminar" (click)="cerrar()">close</span>
            </div>
        </div>
        <div class="pie">
            <div class="nombre letraGrande"><p>Correo</p></div>
            <div class="contenedorDatos">
                <input type="email" placeholder="Escribe el correo..." class="input-form letraPequeño" [(ngModel)]="email" (keydown.enter)="acceder()">
            </div>
            <div class="nombre letraGrande"><p>Contraseña</p></div>
            <div class="contenedorDatos">
                <input type="text" placeholder="Escribe la contraseña..." class="input-form letraPequeño" [(ngModel)]="password" (keydown.enter)="acceder()">
            </div>
            <div class="contenedorBoton">
                 <button
                    class="botonPulsar"
                    (click)="acceder()"
                    [disabled]="loading()">
                    Acceder
                </button>
            </div>
        </div>
    </div>
    <div class="contenedorDecoracionAbajo"></div>
</div>