<div class="margen">
    <div class="contenedorDecoracionArriba"></div>
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre letraGrande"><p>Acceder a la web</p></div>
            <div class="decoracion">
                <span class="material-symbols-outlined icono">remove</span>
                <span class="material-symbols-outlined icono">select_window</span>
                <span class="material-symbols-outlined icono eliminar" (click)="cerrar()">close</span>
            </div>
        </div>
        <div class="pie">
            <div class="nombre letraGrande"><p>Nombre</p></div>
            <div class="contenedorDatos">
                <input type="text" placeholder="Escribe el nombre..." class="input-form letraPequeño">
            </div>
            <div class="nombre letraGrande"><p>Contraseña</p></div>
            <div class="contenedorDatos">
                <input type="text" placeholder="Escribe la contraseña..." class="input-form letraPequeño">
            </div>
            <div class="contenedorBoton">
                <button class="botonPulsar">Acceder</button>
            </div>
        </div>
    </div>
    <div class="contenedorDecoracionAbajo"></div>
</div>