.contenedor {
    height: auto;
    width: 100%;
    border: solid 2px var(--marron);
    box-shadow: 0.4rem 0.4rem 0 var(--marron);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}

.cabecera {
    height: 40px;
    width: 100%;
    border-bottom: solid 2px var(--marron);
    background-color: var(--morado);
    display: flex;
    flex-direction: row;
}

.nombre {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    color: var(--marron);
    padding-left: 20px;
}

.decoracion {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icono {
    height: 30px;
    aspect-ratio: 1/1;
    color: var(--marron);
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.2s;
}

.eliminar:hover {
    color: var(--rojo);
    transform: scale(1.1);
}

.pie {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blanco);
    padding-top: 20px;
}

.contenedorBoton {
    height: 50px;
    width: 80px;
    border: solid 2px var(--marron);
    background-color: var(--gris);
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-self: end;
}

.botonPulsar {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    border: solid 0.5px var(--marron);
    background-color: var(--blanco);
    color: var(--marron);
    border-radius: 5px;
    transform: translateY(-10px);
    transition: all ease-in-out 0.14s;
    font-weight: 700;
}

.botonPulsar:active {
    transform: translateY(0px);
}

.contenedorDecoracionArriba {
    display: flex;
    position: absolute;
    align-items: center;
    justify-self: start;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    right: 0;
    top: -40px;
    margin-right: 20px;
    animation: floteSuaveSuperior 1.5s ease-in-out infinite alternate;
    z-index: 0;
}

@keyframes floteSuaveSuperior {
    0% { transform: translateY(0px); }
    100% { transform: translateY(10px); }
}

.contenedorDecoracionAbajo {
    display: flex;
    position: absolute;
    align-items: center;
    justify-self: start;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    left: -10px;
    bottom: 0px;
    animation: floteSuaveInferior 1.5s ease-in-out infinite alternate;
    z-index: 2;
}

@keyframes floteSuaveInferior {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-10px); }
}

.margen {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .margen {
        margin-left: 20px;
    }

    .contenedor {
        width: 90%;
        margin: 10px;
        margin-left: 3%;
    }

    .cabecera {
        height: 50px;
    }

    .contenedorDecoracionArriba {
        width: 60px;
        height: 60px;
        top: -30px;
    }

    .contenedorDecoracionAbajo {
        width: 60px;
        height: 60px;
        left: -5px;
    }

    .contenedorBoton {
        height: 40px;
        width: 70px;
        margin: 10px;
    }

    .botonPulsar {
        padding: 4px 8px;
        transform: translateY(-8px);
    }
}

@media (max-width: 767px) {
    .margen {
        margin-left: 10px;
        margin-right: 10px;
    }

    .contenedor {
        width: 100%;
        margin: 5px 0;
    }

    .cabecera {
        height: 48px;
    }

    .nombre {
        padding-left: 15px;
        text-align: start;
        justify-content: start;
        margin-bottom: 20px;
        width: 100%;
    }

    .pie {
        align-items: start;
        padding-bottom: 15px;
    }

    .contenedorBoton {
        width: 90%;
        align-self: center;
        margin: 10px 0;
    }

    .contenedorDecoracionArriba {
        width: 45px;
        height: 45px;
        top: -20px;
        right: 5px;
    }

    .contenedorDecoracionAbajo {
        width: 45px;
        height: 45px;
        left: 0;
        bottom: -5px;
    }
}