<div class="margen">
    <div class="contenedorDecoracionArriba">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <title>Señal de cuidado (Suave)</title>
            
            <path d="M 50,15 
                    C 55,15 90,80 87,85
                    C 85,90 15,90 13,85
                    C 10,80 45,15 50,15 Z" 
                fill="var(--amarillo)" 
                stroke="var(--marron)" 
                stroke-width="3" 
                stroke-linejoin="round" />
            
            <rect x="47" y="35" width="6" height="30" fill="var(--marron)" rx="3" ry="3" />
            <circle cx="50" cy="74" r="3.5" fill="var(--marron)" />
        </svg>
    </div>
    <div class="contenedor">
        <div class="cabecera">
            <div class="nombre letraGrande"><p>{{ titulo }}</p></div>
            <div class="decoracion">
                <span class="material-symbols-outlined icono">remove</span>
                <span class="material-symbols-outlined icono">select_window</span>
                <span class="material-symbols-outlined icono eliminar" (click)="cerrar()">close</span>
            </div>
        </div>
        <div class="pie">
            <div class="nombre letraPequeña">
                <p>¿Deseas eliminar <strong>{{ data.nombre }}</strong>?</p>
            </div>
            <div class="contenedorBoton">
                <button
                    class="botonPulsar"
                    (click)="eliminar()"
                    [disabled]="loading()">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="contenedorDecoracionAbajo">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <title>Señal de cuidado (Suave)</title>
            
            <path d="M 50,15 
                    C 55,15 90,80 87,85
                    C 85,90 15,90 13,85
                    C 10,80 45,15 50,15 Z" 
                fill="var(--amarillo)" 
                stroke="var(--marron)" 
                stroke-width="3" 
                stroke-linejoin="round" />
            
            <rect x="47" y="35" width="6" height="30" fill="var(--marron)" rx="3" ry="3" />
            <circle cx="50" cy="74" r="3.5" fill="var(--marron)" />
        </svg>
    </div>
</div>