<div class="contenedorCabecera">

    <div class="barraBusqueda">
        <div class="buscador">
            <div class="busqueda">
                <input
                    type="text"
                    placeholder="Buscar..."
                    [(ngModel)]="searchValue"
                    (ngModelChange)="onSearch($event)"
                    aria-label="Buscar película o serie"
                    class="input-form letraPequeña gaeguPr"
                    maxlength="30"
                />
            </div>
            <div class="icono">
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
    </div>

    <div class="botones">

        <div class="contenedorBoton">
            <button class="botonPulsar latoPr" (click)="abrirGeneros()">Géneros</button>
        </div>

        @if (!usuariosService.isLoggedIn()) {
            <div class="contenedorBoton">
                <button class="botonPulsar latoPr" (click)="abrirLogin()">Acceder</button>
            </div>
        }

        @if (usuariosService.isLoggedIn()) {
            <div class="contenedorBoton">
                <button class="botonPulsar latoPr" (click)="abrirCrearPelicula()">Añadir</button>
            </div>
            <div class="contenedorBoton">
                <button class="botonPulsar latoPr" (click)="cerrarSesion()">Salir</button>
            </div>
        }

    </div>

</div>