<div class="contenedorCabecera">
    <div class="botones">
        <div class="contenedorBoton">
            <button class="botonPulsar txBase txBold latoPr" appClickEffect (click)="abrirGeneros()">Géneros</button>
        </div>

        @if (!usuariosService.isLoggedIn()) {
            <div class="contenedorBoton">
                <button class="botonPulsar txBase txBold latoPr" appClickEffect (click)="abrirLogin()">Acceder</button>
            </div>
        }

        @if (usuariosService.isLoggedIn()) {
            <div class="contenedorBoton">
                <button class="botonPulsar txBase txBold latoPr" appClickEffect (click)="abrirCrearPelicula()">Añadir</button>
            </div>
            <div class="contenedorBoton">
                <button class="botonPulsar txBase txBold latoPr" appClickEffect (click)="cerrarSesion()">Salir</button>
            </div>
        }
    </div>
</div>