.contenedorCabecera {
    height: 100%;
    height: 80px;
    background-color: var(--morado);
    border-bottom: solid 2px var(--marron);
    display: flex;
    flex-direction: row;
}

.barraBusqueda {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.buscador {
    height: 40px;
    width: 100%;
    max-width: 400px;
    background-color: var(--blanco);
    border-radius: 10px;
    margin-left: 10%;
    border: solid 2px var(--marron);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.input-form {
    padding-left: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    padding-inline: 10px;
    color: var(--marron);
}

.icono {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--azul);
    color: var(--marron);
    border-left: solid 2px var(--marron);
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.busqueda {
    height: 100%;
    width: 100%;
}

.botones {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.contenedorBoton {
    height: 50px;
    width: 80px;
    border: solid 3px var(--marron);
    background-color: var(--gris);
    border-radius: 8px;
    margin: 10%;
}

.botonPulsar {
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    border: solid 0.5px var(--marron);
    background-color: var(--blanco);
    color: var(--marron);
    border-radius: 5px;
    transform: translateY(-10px);
    transition: all ease-in-out 0.14s;
    font-weight: 700;
}

.botonPulsar:active {
    transform: translateY(0px);
}